import { defineStore } from 'pinia';

import state from './state';
import actions from './actions';

export const use{{ .storeNameTitleCase }}Store = defineStore('{{ .storeName }}', {
  state,
  actions,
});
