import { defineStore } from 'pinia';

import state from './state';
import getters from './getters';

export const use{{ .storeNameTitleCase }}Store = defineStore('{{ .storeName }}', {
  state,
  getters,
});
